body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E88D67;
}

hr{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    color: #555;
}

.form-container{
    background-color: #F3F7EC;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    height: 90%;
    display: flex;
    align-items: center;
}

.form-container .logo-container{
    display: block;
    margin: 0 auto;
    width: 80px;
}

.form-container .logo-container > img {
    width: 80px;
}

.form-container .login-container {
    width: 500px;
    margin: 0 auto;
}

.form-container .login-container > h2 {
    text-align: center;
    font-size: 2rem;
}

.form-container .login-container > p,
.form-container .login-container > span {
    text-align: center;
    color: #555;
}

.form-container .login-container label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.form-container .login-container input.login-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #555;
    border-radius: 5px;
    background-color: #F3F7EC;
}

.form-container .login-container input.login-input:focus {
    outline: solid 2px #E88D67;
    border: none;
}

.form-container .login-container .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container a{
    color: #555;
    text-decoration: none;
}

.form-container a:hover{
    color: #E88D67;
    text-decoration: underline;
}

.btn {
    border: none;
    padding: 15px 0;
    width: 100%;
    font-weight: bolder;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.btn-login{
    background-color: #E88D67;
    color: white;
}

.btn.btn-login:hover{
    background-color: #17404d;
    color: white;
}

.form-container .welcome-screen-container{
    background-color: black;
    height: 100%;
    width: 50%;
    display: block;
    overflow: hidden;
}

.form-container .welcome-screen-container .image-welcome{
    height: auto;
}

#mensaje-error {
    color: rgb(230, 68, 68);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1440px) {
    .form-container{
        width: 95%;
    }
    .form-container .login-container {
        width: 350px;
        margin: 0 auto;
    }
    .form-container .welcome-screen-container{
        width: 60%;
    }
}

@media screen and (max-width: 1079px) {
    .form-container{
        width: 95%;
    }
    .form-container .login-container {
        width: 275px;
        margin: 0 auto;
    }
    .form-container .welcome-screen-container{
        width: 55%;
    }
}

@media screen and (max-width: 719px) {
    .form-container{
        width: 70%;
        height: 75%;
    }
    .form-container .login-container {
        width: 275px;
        margin: 0 auto;
    }
    .form-container .welcome-screen-container{
        width: 0%;
    }
    body {
        background-image: url("../image/paisaje.jfif");
    }
}